@font-face {
  font-family: "Urbanist";
  src: url(fonts/Urbanist-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Urbanist";
  src: url(fonts/Urbanist-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Urbanist";
  src: url(fonts/Urbanist-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Allura";
  src: url(fonts/Allura-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Almendra";
  src: url(fonts/Almendra-Regular.ttf);
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}
body {
  background-color: hsl(280, 23%, 5%);
}
/* Header */
header {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 9vh;
  width: 100%;
  background-color: hsla(139, 73%, 12%);
}

.nav-items {
  display: flex;
  width: 580px;
  height: 30px;
  margin: 20px auto;
  justify-content: space-between;
  align-items: center;
  color: #e4e4e4;
  font-family: "Urbanist";
  font-size: 22px;
}

.nav-item {
  height: 45px;
  width: 75px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-item:hover {
  color: rgb(87, 139, 103);
}

/* Main */
main {
  min-height: 81vh;
  width: 100%;
}

/* Home Tab */
.home-container {
  height: 100%;
  width: 100%;
}

.background-img {
  position: absolute;
  top: 230px;
  height: 660px;
  width: 630px;
  right: 0;
  opacity: 0.4;
  z-index: -1;
  background-image: url(./img/luc-bercoth-4ykELaXgeOM-unsplash.jpg);
  background-size: cover;
  background-position: right;
}

.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  text-align: center;
}
.hero-logo {
  height: 215px;
  width: 300px;
  margin: 40px;
}
.hero-text-container {
  color: #e4e4e4;
}

.hero-welcome {
  font-family: "Allura";
  font-size: 54px;
  font-weight: lighter;
}
.hero-title {
  font-family: "Almendra";
  font-weight: lighter;
  font-size: 58px;
  text-shadow: #cb3e3e 1px 3px 2px;
}

.hero-button-container {
  margin: 80px;
  width: 595px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.hero-button-container button {
  width: 270px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Urbanist";
  font-weight: 600;
}
.hero-menu-btn {
  background-color: #cb3e3e;
  color: #e4e4e4;
}
.hero-menu-btn:hover {
  transform: scale(1.04);
  -webkit-transition: 0.4s ease-in-out;
}

.hero-book-btn {
  background-color: #e4e4e4;
  color: #cb3e3e;
}
.hero-book-btn:hover {
  transform: scale(1.04);
  -webkit-transition: 0.4s ease-in-out;
}

/* Menu Tab */
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1100px;
  margin: auto;
}
.menu-logo {
  width: 170px;
  margin: 40px;
}
.menu-content-container {
  color: #e4e4e4;

  font-family: "Urbanist";
}

.menu-category-container {
  margin-bottom: 60px;
}
.menu-category-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: #e4e4e4 solid 1px;
  margin: 5px 0;
}
.menu-category-description {
  font-weight: lighter;
  font-size: 14px;
}

.menu-items-container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 250px;
}

.menu-item-container {
  width: 445px;
  margin-bottom: 30px;
}

.menu-item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  margin: 15px 0 10px 0;
}
.menu-item-description {
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 0.5px;
  line-height: 22px;
}

/* Contact Tab */
.contact-container {
  color: #e4e4e4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.contact-logo {
  height: 130px;
}
.contact-title {
  font-size: 40px;
}

.contact-locations-container {
  margin-top: 100px;
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.contact-location {
  font-family: "Urbanist";
  line-height: 25px;
}
.contact-name {
  font-weight: bolder;
}
.contact-map {
  margin: 20px 0;
}

/* Footer */
footer {
  font-family: "Urbanist";
  font-size: 12px;
  height: 10vh;
  width: 100%;
  background-color: hsl(280, 23%, 5%);
  color: #e4e4e436;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
